.sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: hidden !important;
}

.sidebar ul[class="sidebar-links"] {
  overflow-y: auto !important;
  width: 100% !important;
  height: inherit;
}

.sidebar a[class=none]{
  display: none !important;
}

.home-wrapper .banner .banner-conent .hero h1{
  font-size 2.8rem!important
}

// 文档中适配
table
  width auto
.page >*:not(.footer),.card-box
  box-shadow: none!important

.page
  @media (min-width $contentWidth + 80)
    padding-top $navbarHeight!important
.home-wrapper .banner .banner-conent
  padding 0 2.9rem
  box-sizing border-box
.home-wrapper .banner .slide-banner .slide-banner-wrapper .slide-item a
  h2
    margin-top 2rem
    font-size 1.2rem!important
  p
    padding 0 1rem

.theme-mode-light .home-wrapper .banner{
  background: url(/img/bg-light.png) center center / cover no-repeat !important;
  height: 850px;
}

.theme-mode-dark .home-wrapper .banner{
  background: url(/img/bg-dark.png) center center / cover no-repeat !important;
  height: 850px;
}

.theme-mode-read .home-wrapper .banner{
  background: url(/img/bg-read.png) center center / cover no-repeat !important;
  height: 850px;
}

.theme-mode-light .home-wrapper .banner .video-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* min-width: 100%; */
    /* min-height: 100%; */
    object-fit: cover;
}

.theme-mode-dark .home-wrapper .banner .video-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* min-width: 100%; */
    /* min-height: 100%; */
    object-fit: cover;
}

.theme-mode-read .home-wrapper .banner .video-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* min-width: 100%; */
    /* min-height: 100%; */
    object-fit: cover;
}

// 评论区颜色重置
.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) or ( ⌃ + ⌘ + ␣ ) open Emoji'
      color: #999
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important


// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;


// 全文搜索框
.suggestions
  overflow: auto
  max-height: calc(100vh - 6rem)
  @media (max-width: 719px) {
    width: 90vw;
    min-width: 90vw!important;
    margin-right: -20px;
  }
  .highlight
    color: $accentColor
    font-weight: bold

.features
  .feature a p
    text-align: left

.home-wrapper .banner {
  min-height: 1200px!important
}

.hero-image{
  padding-top: 30px;
}

.theme-mode-dark .hero .hero-image{
  filter:drop-shadow(0px 0px 0px #ff4851)
  animation:logoFadeIn 3s ease forwards alternate, logoLight 15s ease-in-out 3s infinite alternate, logoFloat 10s ease-in-out 3s infinite alternate;
}

@keyframes logoFadeIn{
  0%{
      transform:scale(1);
      opacity:1;
      filter:drop-shadow(0px 0px 0px #ff4851)
  }
  100%{
      transform:scale(1);
      opacity:1;
      filter:drop-shadow(0px 0px 50px #ff4851)
  }
}

@keyframes logoFloat{
  0%{
    transform:translate(0%, 0% scale(1));
  }
  25%{
    transform:translate(0%, -5%) scale(1);
  }
  50%{
    transform:translate(0%, 0%) scale(1);
  }
  75%{
    transform:translate(0%, -5%) scale(1);
  }
}

@keyframes logoLight{
  0%{
    filter:drop-shadow(0px 0px 50px #ff4851);
  }
  25%{
    filter:drop-shadow(0px 0px 30px #ff4851);
  }
  50%{
    filter:drop-shadow(0px 0px 50px #ff4851);
  }
  75%{
    filter:drop-shadow(0px 0px 30px #ff4851);
  }
}