
// 原主题变量已弃用，以下是vdoing使用的变量，你可以在这个文件内修改它们。

//***vdoing主题-变量***//

// // 颜色

// $bannerTextColor = #fff // 首页banner区(博客标题)文本颜色
$accentColor = #FF3861
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // 布局
// $navbarHeight = 3.6rem
// $sidebarWidth = 18rem
// $contentWidth = 860px
// $homePageWidth = 1100px
// $rightMenuWidth = 230px // 右侧菜单

// // 代码块
// $lineNumbersWrapperWidth = 2.5rem

// 浅色模式
.theme-mode-light
  --bodyBg: #F5F5F5
  --mainBg: #F5F5F5
  --sidebarBg: #F5F5F5
  --blurBg: #F5F5F5
  // --textColor: #004050
  --textLightenColor: #FF3861
  --borderColor: rgba(0,0,0,.15)
  --codeBg: #282C34
  --codeColor: #fff
  codeThemeDark()

// 深色模式
.theme-mode-dark
  --bodyBg: #22252e
  --mainBg: #22252e
  --sidebarBg: #22252e
  --blurBg: #22252e
  --textColor: #ADBAC7
  --textLightenColor: #FF3861
  --borderColor: #2C2C3A
  --codeBg: #282C34
  --codeColor: #fff
  codeThemeDark()

// 阅读模式
.theme-mode-read
  --bodyBg: #f6f4d8
  --mainBg: #f6f4d8
  --sidebarBg: #f6f4d8
  --blurBg: #f6f4d8
  --textColor: #004050
  --textLightenColor: #FF3861
  --borderColor: rgba(0,0,0,.15)
  --codeBg: #282C34
  --codeColor: #fff
  codeThemeDark()
